@import './Base.scss';

.lgW{
  height: 80vh;
  @include vhcenter;
}
.lgWC{
  position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}